/*             Navigation Tabs                 */
.nav-tabs-navigation {
  text-align: center;
  border-bottom: 1px solid #F1EAE0;
  margin-bottom: 30px; }

.nav-tabs-wrapper {
  display: inline-block;
  margin-bottom: -6px;
  margin-left: 1.25%;
  margin-right: 1.25%;
  position: relative;
  width: auto; }

.nav-tabs {
  border-bottom: 0 none;
  font-size: 16px;
  font-weight: 600; }
  .nav-tabs > li > a {
    border: 0 none;
    color: #A49E93; }
  .nav-tabs > li > a:hover {
    color: #66615b; }
  .nav-tabs > li.active {
    color: #66615b;
    position: relative; }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
      background-color: transparent;
      border: 0 none;
      height: 50px; }
    .nav-tabs > li.active :after {
      border-bottom: 11px solid #FFFCF5;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      content: "";
      display: inline-block;
      position: absolute;
      right: 40%;
      bottom: -1px; }
    .nav-tabs > li.active :before {
      border-bottom: 11px solid #F1EAE0;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      content: "";
      display: inline-block;
      position: absolute;
      right: 40%;
      bottom: 1px; }

